body {
    color: #b7b1b1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

#cabecera {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 700;
    gap: 20px;
    justify-content: center;
    line-height: 60px;
    margin-top: 50px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
}

#cabecera img {
    max-width: 80px;
}

#post {
    border: 1px solid deeppink;
    margin-top: 30px;
    padding: 80px 60px;
    text-align: center;
    text-transform: uppercase;
}

#post h1 {
    color: deeppink;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

#post p {
    font-size: 20px;
    line-height: 28px;
}

#footer {
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}